form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 900px;
    margin: 2rem;
    /*margin-inline: auto;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-weight: 600;
}

.allergi-group:has(:checked){
    background: green;
}

.allergi-group:has(:focus){
    background: green;
}

input:invalid{
    border-color: red;
}

input:valid{
    border-color: green;
}